* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(260deg, #e6bb30, #f5967c);
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header {
  font-size: 2rem;
  text-align: center;
  padding: 3rem 0rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: rgba(174, 21, 21, 0.1);
  border-radius: 10px;
  border: 0.5px solid rgba(43, 43, 42, 0.3);
}

form {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

form input {
  flex: 1;
  margin-right: 0.5rem;
}

form button {
  background: #ff6f47;
  color: #fff;
  margin-left: 1rem;
  cursor: pointer;
}

form button:hover {
  background: #e65d35;
}

.todo-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.todo-list {
  list-style: none;
  min-width: 30vw;
}

@media screen and (max-width: 600px) {
  .todo-list {
    min-width: 80vw;
  }
}

.todo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 0.5rem;
  background: #fff;
  color: #222;
  gap: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.todo:hover {
  transform: scale(1.02);
}

.todo li {
  padding: 0.5rem;
}

.todo .todo-btn-container {
  display: grid;
  grid-template-columns: auto auto;
}

.todo button {
  cursor: pointer;
  height: 100%;
  border: 0px;
  border-radius: 0px;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
}

.trash-btn:hover{
  background: #e65d35;
}

.complete-btn {
  background: rgb(11, 212, 162);
}

.complete-btn:hover {
    background: rgb(25, 167, 120);
}

.mark-complete {
  text-decoration: line-through;
  color: rgba(34, 34, 34, 0.5);
}

footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  border-top: 2px solid rgb(94, 93, 91);
  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  background: rgba(240, 248, 255, 0.8);
  backdrop-filter: blur(10px);
}

footer div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (min-width: 900px) {
  footer div {
    width: 50vw;
  }
}

footer button {
  background: #ff6f47;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

footer button:hover {
    transform: scale(1.07);
}

.completed-filter {
  background: rgb(11, 212, 162);
}

.all-filter {
  background: rgb(11, 91, 212);
}

.completed-filter:hover {
    background: rgb(25, 167, 120);
}

.all-filter:hover {
    background: rgb(19, 80, 172);
}

.remaining-filter:hover{
    background: #e65d35;
}


